._*
*~
.DS_Store
data/*.sqlite
data/*.sqlite-*
data/basemaps/
target/
.cpcache/
.shadow-cljs/
node_modules/
.nrepl-port
.clj-kondo/.cache
*.iml
.idea/
coverage/
pom.xml
.lsp/
resources/public/js/main.js
resources/public/js/main.js.map
resources/public/js/cljs-runtime/
resources/public/js/manifest.edn

