{:deps {:aliases [:cljs]}
 :builds
 {:app {:target :browser
        :output-dir "resources/public/js"
        :asset-path "/js"
        :modules {:main {:init-fn isas.browser/main!}
                  :farmmap {:init-fn isas.map/install!
                            :depends-on #{:main}}}
        :devtools {:enabled false}}
  :test {:target :node-test
         :output-to "target/node-tests.js"
         :ns-regexp "-test$"
         :js-options {:resolve {"ol/Map" {:target :file :file "test/js/ol_stub.js"}
                                "ol/View" {:target :file :file "test/js/ol_stub.js"}
                                "ol/layer/Vector" {:target :file :file "test/js/ol_stub.js"}
                                "ol/layer/Image" {:target :file :file "test/js/ol_stub.js"}
                                "ol/layer/Graticule" {:target :file :file "test/js/ol_stub.js"}
                                "ol/source/Vector" {:target :file :file "test/js/ol_stub.js"}
                                "ol/source/ImageStatic" {:target :file :file "test/js/ol_stub.js"}
                                "ol/format/GeoJSON" {:target :file :file "test/js/ol_stub.js"}
                                "ol/interaction/Draw" {:target :file :file "test/js/ol_stub.js"}
                                "ol/interaction/Modify" {:target :file :file "test/js/ol_stub.js"}}}}}}
